{% extends 'base.html' %}

{% block content %}
  <h2>Below are the documents you need to fill out for your child! <span class="icon-emo-happy"></span></h2>

  <head>
    <meta charset="utf-8">
    <title>{{ form.title }}</title>
</head>
<body>
<br>
    <h4>Documents of {{child.first_name}} {{child.last_name}}</h4>
<br>
    {% for form in Form %}

       <p><a href="{{ form.get_absolute_url }}?childID={{ child.id }}">{{ form.title }}</a></p>
        <br>
    {% endfor %}
</body>


{% endblock %}
